header {
  height: 100px;
  text-align: left;

  display: flex;
  flex-direction: row;
}

div {
  width: 50%;
}

@media(min-width: 768px) {
  header {
    height: 200px;
  }
}

img.logo {
  height: 100%;
}

div.github-container {
  position: relative;
  text-align: right;
}

img.github {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
