<form>

  <h1>Look-up Player Stats</h1>

  <div class="form-group">
    <h2>Platform</h2>
    <div class="form-item">
      <select class="max-width" name="platform" id="platform">
        <option value="origin">PC (Origin)</option>
        <option value="psn">PlayStation 4</option>
        <option value="xbox">Xbox One</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <h2>Name</h2>
    <div class="form-item">
      <input class="max-width" type="text" name="username" id="username" placeholder="Player Name...">
    </div>
  </div>

  <div class="form-group">
    <input type="submit" value="Submit">
  </div>

</form>
