:host {
  text-align: center;
}

.form-group h2 {
  text-align: left;
  margin-left: 0.5rem;
}

.max-width {
  width: 100%;
}

input[type="text"], input[type="submit"], select {
  transition: all 0.3s ease-in-out;
  font-size: 150%;

  padding: 0.5rem;

  border: 2px solid black;
  border-radius: 0.5rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline: none;
}

input[type="text"]:focus, select:focus {
  box-shadow: 0 0 10px var(--primary-color);
  border: 2px solid var(--primary-color);
}

select:required:invalid {
  color: gray;
}

option {
  color: black;
}

input[type="submit"] {
  color: white;
  background-color: var(--primary-color);
  width: 10rem;
  max-width: 100%;
  cursor: pointer;
}

input:disabled[type="submit"] {
  background-color: gray;
  cursor: not-allowed;
}
